<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>Authentization</filter-name>
        <filter-class>filter.Authentization</filter-class>
    </filter>
    <filter>
        <filter-name>AuthentizationStudent</filter-name>
        <filter-class>filter.AuthentizationStudent</filter-class>
    </filter>
    <filter>
        <filter-name>AuthentizationTeacher</filter-name>
        <filter-class>filter.AuthentizationTeacher</filter-class>
    </filter>
    <filter>
        <filter-name>AuthenticationHome</filter-name>
        <filter-class>filter.AuthenticationHome</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthenticationHome</filter-name>
        <url-pattern>/Home</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthentizationTeacher</filter-name>
        <url-pattern>/Teacher</url-pattern>
        <url-pattern>/ProfileTeacher</url-pattern>
        <url-pattern>/TeacherChangePassword</url-pattern>
        <url-pattern>/ManageLesson</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthentizationStudent</filter-name>
        <url-pattern>/ControllerLesson</url-pattern>
        <url-pattern>/MyCourse</url-pattern>
        <url-pattern>/ProfileStudent</url-pattern>
        <url-pattern>/StudentChangePassword</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Authentization</filter-name>
        <url-pattern>/Admin</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>TakeQuiz</servlet-name>
        <servlet-class>controller.TakeQuiz</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryController</servlet-name>
        <servlet-class>controller.CategoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>controller.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminController</servlet-name>
        <servlet-class>controller.AdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TeacherController</servlet-name>
        <servlet-class>controller.TeacherController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateQuiz</servlet-name>
        <servlet-class>controller.CreateQuiz</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateQuiz</servlet-name>
        <servlet-class>controller.UpdateQuiz</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteQuiz</servlet-name>
        <servlet-class>controller.DeleteQuiz</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CoursesController</servlet-name>
        <servlet-class>controller.CoursesController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StartQuiz</servlet-name>
        <servlet-class>controller.StartQuiz</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResultStudent</servlet-name>
        <servlet-class>controller.ResultStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewQuizController</servlet-name>
        <servlet-class>controller.ViewQuizController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckOrder</servlet-name>
        <servlet-class>controller.CheckOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerLesson</servlet-name>
        <servlet-class>controller.ControllerLesson</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemovePayMent</servlet-name>
        <servlet-class>controller.RemovePayMent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuizController</servlet-name>
        <servlet-class>controller.QuizController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyCourse</servlet-name>
        <servlet-class>controller.MyCourse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerPDF</servlet-name>
        <servlet-class>controller.ControllerPDF</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerVideo</servlet-name>
        <servlet-class>controller.ControllerVideo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageLessonController</servlet-name>
        <servlet-class>ManageLessonController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageLesson</servlet-name>
        <servlet-class>controller.ManageLessonController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentChangePassword</servlet-name>
        <servlet-class>controller.StudentChangePassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TeacherChangePassword</servlet-name>
        <servlet-class>controller.TeacherChangePassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileStudent</servlet-name>
        <servlet-class>controller.ProfileStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileTeacher</servlet-name>
        <servlet-class>controller.ProfileTeacher</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterAccountController</servlet-name>
        <servlet-class>controller.RegisterAccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Manage</servlet-name>
        <servlet-class>controller.ManageLesson</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateQuiz</servlet-name>
        <url-pattern>/create-quiz</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateQuiz</servlet-name>
        <url-pattern>/update-quiz</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteQuiz</servlet-name>
        <url-pattern>/delete-quiz</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TakeQuiz</servlet-name>
        <url-pattern>/take-quiz</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryController</servlet-name>
        <url-pattern>/Category</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminController</servlet-name>
        <url-pattern>/Admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TeacherController</servlet-name>
        <url-pattern>/Teacher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CoursesController</servlet-name>
        <url-pattern>/Courses</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StartQuiz</servlet-name>
        <url-pattern>/start-quiz</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResultStudent</servlet-name>
        <url-pattern>/result</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewQuizController</servlet-name>
        <url-pattern>/view</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckOrder</servlet-name>
        <url-pattern>/CheckOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerLesson</servlet-name>
        <url-pattern>/ControllerLesson</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemovePayMent</servlet-name>
        <url-pattern>/RemovePayMent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuizController</servlet-name>
        <url-pattern>/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyCourse</servlet-name>
        <url-pattern>/MyCourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerPDF</servlet-name>
        <url-pattern>/ControllerPDF</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerVideo</servlet-name>
        <url-pattern>/ControllerVideo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageLesson</servlet-name>
        <url-pattern>/ManageLesson</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentChangePassword</servlet-name>
        <url-pattern>/StudentChangePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TeacherChangePassword</servlet-name>
        <url-pattern>/TeacherChangePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileStudent</servlet-name>
        <url-pattern>/ProfileStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileTeacher</servlet-name>
        <url-pattern>/ProfileTeacher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterAccountController</servlet-name>
        <url-pattern>/RegisterAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Manage</servlet-name>
        <url-pattern>/Manage</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
